screen-recenttimecards-phoneportrait {
    ion-item.item.item-input {
        padding-left: 0px;
        .item-inner {
            padding-right: 0px;
            .text-input {
                text-align: center;
                width: 100%;
            }
        }
    }
}
